@mixin list-no-bullet {
    list-style-type: none;
}

@mixin zero-margin {
    margin: 0;
}

@mixin custom-detail-icon($url) {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
}

$font-default: "Source Sans Pro", sans-serif;

$green: #05963c;
$white: #fff;
$medium-grey: #e4e4e4; 

$light: 400;
$bold: 600;
$boldest: 700;