h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    margin: 0 0 0.5em;
    line-height: 1.4;
}

a {
    text-decoration: none;
    background: transparent;
    transition: all 0.15s ease-in-out;
}

ul {
    padding-left: 1rem;
}

img {
    border: 0 none;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background: white;
}

hr {
    margin: 50px 0;
}

.container-lg {
    margin: 2rem auto;
}

.tooltip {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.cart-panel {
    h4 {
        text-transform: uppercase;
    }
}

.yard-planner-button-wrapper {
    span {
        font-size: .9em;
        font-weight: 700;
        margin-left: .5em;
    }
}

.yard-planner-button-link {
    align-items: center;
    color: #05963c;
    display: flex;
}

.care-block {
    display: block;
    clear: block;
    background-color: #f5f6f7;
    margin: 1em 0;
    padding: 1em;

    h3 {
        font-weight: 400;
    }

    .care-text {
        display: inline-block;
        font-size: 16px;

        strong {
            display: block;
            margin-bottom: 10px;
        }
    }
}

.care-icon {
    display: inline-block;

    img {
        width: 65px;
    }
}

.solution-icons {
    ul {
        margin: 20px 0 0;
        padding: 0;
        text-align: center;

        li {
            list-style: none;
            padding: 0 5px
        }
    }
}

.details-box {
    background: #f9f9f9;
    border: 1px solid #eeeeee;
    padding: 25px;
    border-radius: 4px;
    position: relative;
    z-index: 2;

    ul {
        font-size: 16px;
        display: grid;
        text-align: center;
    }

    .gz-text {
        font-size: 18px;
        margin: 0;
        text-align: center;
    }
}

.plant-details {
    font-size: 14px;

    tr:nth-child(2n) {
        background-color: #e4e4e4;
    }

    tr td:nth-child(2n) {
       text-align: right;
    }

    tr:nth-child(2n+1) {
        background-color: #f4f4f4;
    }

    tr td:nth-child(2n+1) {
        text-align: left;
        font-weight: 700;
    }
}