@charset "UTF-8";
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  margin: 0 0 0.5em;
  line-height: 1.4;
}

a {
  text-decoration: none;
  background: transparent;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

ul {
  padding-left: 1rem;
}

img {
  border: 0 none;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background: #fff;
}

hr {
  margin: 2.5rem 0;
}

.container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
  cursor: pointer;
  background-color: #e4e4e4;
  border-radius: 4px;
  padding: 5px;
  display: none;
}

.product-name {
  margin-bottom: 8px;
}

.product-species {
  font-weight: 400;
  font-style: italic;
  color: #999999;
  display: block;
}

.product-details {
  margin: 1rem 0;
}

.quick-description {
  margin: 0;
  padding: 0;
}

.quick-description li {
  list-style-type: none;
}

.quick-description li::before {
  content: '✓';
  padding-right: 10px;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

#product-price {
  font-size: 40px;
  font-weight: 600;
}

.view-details {
  color: #099cac;
  background: #fff;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  margin-left: 10px;
  margin-bottom: 5px;
}

.button-modal-close {
  background-color: #7cd1f9;
  color: #fff;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 24px;
  margin: 0;
}

.item-details {
  list-style-type: none;
  padding-left: 0 !important;
}

.item-details span {
  padding-left: 15px;
  font-weight: 700;
}

.item-details .delivery-notice::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("https://cdn.shopify.com/s/files/1/0059/8835/2052/files/Shipping.svg?v=1616610731");
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.item-details .can-warranty::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("https://cdn.shopify.com/s/files/1/0059/8835/2052/files/Badge.png?v=1616686169");
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.item-details .drop-n-grow::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("https://cdn.shopify.com/s/files/1/0059/8835/2052/files/Drop-n-grow.svg?v=1616610714");
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.size-radio-selections {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.size-radio-selections .size-selection {
  font-size: 16px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #999;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  padding: 7px 25px;
  margin: 3px 10px 3px 3px;
  position: relative;
  -webkit-transition: all .3 ease-in-out;
  transition: all .3 ease-in-out;
}

.size-radio-selections .active {
  color: #fff;
  background: #05963c;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 1px solid #05963c;
}

.jump-to-faq ul {
  padding-left: 0px;
}

.jump-to-faq li {
  list-style-type: none;
}

.cart-panel h4 {
  text-transform: uppercase;
}

.yard-planner-button-wrapper span {
  font-size: .9em;
  font-weight: 700;
  margin-left: .5em;
}

.care-block {
  display: block;
  background-color: #f5f6f7;
  padding: 2rem;
  margin: 0;
}

.care-block h3 {
  font-weight: 400;
}

.care-block .care-text {
  display: inline-block;
  font-size: 16px;
}

.care-block .care-text strong {
  display: block;
  margin-bottom: 10px;
}

.care-icon {
  display: inline-block;
}

.care-icon img {
  width: 65px;
}

.solution-icons ul {
  margin: 20px 0;
  padding: 0;
  text-align: center;
}

.solution-icons ul li {
  list-style-type: none;
}

.details-box {
  background: #f9f9f9;
  border: 1px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  position: relative;
}

.details-box ul {
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.details-box .gz-text {
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.plant-details {
  font-size: 14px;
  margin: 1rem 0;
}

.plant-details tr:nth-child(2n) {
  background-color: #e4e4e4;
}

.plant-details tr td:nth-child(2n) {
  text-align: right;
}

.plant-details tr:nth-child(2n+1) {
  background-color: #f4f4f4;
}

.plant-details tr td:nth-child(2n+1) {
  text-align: left;
  font-weight: 700;
}

.product-faq ul {
  padding-left: 24px;
}
/*# sourceMappingURL=styles.css.map */